@import "variables";
@import "mixins";
@import "normalize";

@import "grid";
@import "validation";

.fixed-toolbar {
  height: 64px !important;
  position: fixed !important;
  left: 0px !important;
  top: 0px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  width: 100% !important;
  z-index: 3 !important;

  @media (min-width: 744px) {
    left: auto !important;
    max-width: 1032px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    z-index: 10 !important;
  }

  > ul > li > a {
    line-height: 34px;
  }
}

.site-content {
  position: relative !important;
  padding-top: 80px !important;
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.va-container {
  display: table;
  position: relative
}

.va-container-v {
  height: 100%
}

.va-container-h {
  width: 100%
}

.display-table {
  display: table-cell !important;
}

.display-block-full {
  display: block !important;
  width: 100% !important;
}

.position-relative {
  position: relative !important;
}

.display-inline-block {
  display: inline-block !important;
}

.va-top,
.va-middle,
.va-bottom {
  display: table-cell;
}

.va-top {
  vertical-align: top !important;
}

.va-middle {
  vertical-align: middle !important;
}

.va-bottom {
  vertical-align: bottom !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.span-separator {
  position: relative !important;
  padding: 16px !important;

  &:before {
    content: '' !important;
    position: absolute !important;
    border-bottom: 1px solid #e4e4e4 !important;
    top: 50% !important;
    right: 100% !important;
    width: 5000px !important;
  }

  &:after {
    content: '' !important;
    position: absolute !important;
    border-bottom: 1px solid #e4e4e4 !important;
    top: 50% !important;
    left: 100% !important;
    width: 5000px !important;
  }
}

.dot {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #bbb
}

.dot-light-gray {
  background-color: #bbb;
}

.dot-empty {
  background-color: transparent;
  border: 2px solid #bbb;
}

.dot-success {
  background-color: #3fb34f;
}

.img-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.margin-0 {
  margin-bottom: 0px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-1 {
  margin-bottom: 6px;
}

.margin-top-1 {
  margin-top: 6px;
}

.margin-2 {
  margin-bottom: 12px;
}

.margin-top-2 {
  margin-top: 12px;
}

.margin-3 {
  margin-bottom: 18px;
}

.margin-top-3 {
  margin-top: 18px;
}

.margin-4 {
  margin-bottom: 24px;
}

.margin-top-4 {
  margin-top: 24px;
}

.margin-5 {
  margin-bottom: 30px;
}

.margin-top-5 {
  margin-top: 30px;
}

.margin-6 {
  margin-bottom: 36px;
}

.margin-top-6 {
  margin-top: 36px;
}

.margin-7 {
  margin-bottom: 42px;
}

.margin-top-7 {
  margin-top: 42px;
}

.margin-8 {
  margin-bottom: 48px;
}

.margin-top-8 {
  margin-top: 48px;
}

@media (min-width: 768px) {
  .margin-sm-0 {
    margin-bottom:0px;
  }

  .margin-top-sm-0 {
    margin-top: 0px;
  }

  .margin-sm-1 {
    margin-bottom: 6px;
  }

  .margin-top-sm-1 {
    margin-top: 6px;
  }

  .margin-sm-2 {
    margin-bottom: 12px;
  }

  .margin-top-sm-2 {
    margin-top: 12px;
  }

  .margin-sm-3 {
    margin-bottom: 18px;
  }

  .margin-top-sm-3 {
    margin-top: 18px;
  }

  .margin-sm-4 {
    margin-bottom: 24px;
  }

  .margin-top-sm-4 {
    margin-top: 24px;
  }

  .margin-sm-5 {
    margin-bottom: 30px;
  }

  .margin-top-sm-5 {
    margin-top: 30px;
  }

  .margin-sm-6 {
    margin-bottom: 36px;
  }

  .margin-top-sm-6 {
    margin-top: 36px;
  }

  .margin-sm-7 {
    margin-bottom: 42px;
  }

  .margin-top-sm-7 {
    margin-top: 42px;
  }

  .margin-sm-8 {
    margin-bottom: 48px;
  }

  .margin-top-sm-8 {
    margin-top: 48px;
  }
}

@media (min-width: 992px) {
  .margin-md-0 {
    margin-bottom:0px;
  }

  .margin-top-md-0 {
    margin-top: 0px;
  }

  .margin-md-1 {
    margin-bottom: 6px;
  }

  .margin-top-md-1 {
    margin-top: 6px;
  }

  .margin-md-2 {
    margin-bottom: 12px;
  }

  .margin-top-md-2 {
    margin-top: 12px;
  }

  .margin-md-3 {
    margin-bottom: 18px;
  }

  .margin-top-md-3 {
    margin-top: 18px;
  }

  .margin-md-4 {
    margin-bottom: 24px;
  }

  .margin-top-md-4 {
    margin-top: 24px;
  }

  .margin-md-5 {
    margin-bottom: 30px;
  }

  .margin-top-md-5 {
    margin-top: 30px;
  }

  .margin-md-6 {
    margin-bottom: 36px;
  }

  .margin-top-md-6 {
    margin-top: 36px;
  }

  .margin-md-7 {
    margin-bottom: 42px;
  }

  .margin-top-md-7 {
    margin-top: 42px;
  }

  .margin-md-8 {
    margin-bottom: 48px;
  }

  .margin-top-md-8 {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .margin-lg-0 {
    margin-bottom:0px;
  }

  .margin-top-lg-0 {
    margin-top: 0px;
  }

  .margin-lg-1 {
    margin-bottom: 6px;
  }

  .margin-top-lg-1 {
    margin-top: 6px;
  }

  .margin-lg-2 {
    margin-bottom: 12px;
  }

  .margin-top-lg-2 {
    margin-top: 12px;
  }

  .margin-lg-3 {
    margin-bottom: 18px;
  }

  .margin-top-lg-3 {
    margin-top: 18px;
  }

  .margin-lg-4 {
    margin-bottom: 24px;
  }

  .margin-top-lg-4 {
    margin-top: 24px;
  }

  .margin-lg-5 {
    margin-bottom: 30px;
  }

  .margin-top-lg-5 {
    margin-top: 30px;
  }

  .margin-lg-6 {
    margin-bottom: 36px;
  }

  .margin-top-lg-6 {
    margin-top: 36px;
  }

  .margin-lg-7 {
    margin-bottom: 42px;
  }

  .margin-top-lg-7 {
    margin-top: 42px;
  }

  .margin-lg-8 {
    margin-bottom: 48px;
  }

  .margin-top-lg-8 {
    margin-top: 48px;
  }
}


////////////////////////////////////////////////////////////////////////
.subnav {
  position: relative;
  background-color: #ff5a5f;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.list-unstyled,
.list-layout,
.subnav-list,
.sidenav-list {
  padding: 0;
  list-style: none;
}

.list-layout,
.subnav-list,
.sidenav-list {
  margin-bottom: 0;
}

.subnav-text,
.subnav-item {
  position: relative;
  float: left;
  padding: 20px 14px;
  color: #f8d4d5;

  &:hover,
  &:focus,
  &[aria-selected="true"] {
    text-decoration: none;
    color: #fff;
  }
}

.sidenav-text,
.sidenav-item {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  color: #767676;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #bbb;
  }
}

.sidenav-item[aria-selected="true"] {
  text-decoration: none;
  color: #484848;
  font-weight: bold;
}

.subnav-item[aria-selected="true"]:before {
  content: '';
  width: 100%;
  left: 0px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  height: 4px;
  will-change: left, right;
}